html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    scroll-behavior: smooth;
}

body {
    background-color: #2774AE;
    font-family: 'roboto-slab';
    font-size: 22px;
    font-weight: bold;
    color:white;
    margin: 0px;
    /* FFD100 for yellow */
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: chocolate;
    display: inline;
}

nav {
    font-family: 'roboto-slab';
    background: #555;
    color: #f1f1f1;
    text-align: center;
    vertical-align: middle;

    position: relative;
    top: 0;
    /* height: 50px; */
    width: 100%; 
    /* margin: -8px; */
}

ul.nav-bar {
    list-style-type: none;
    display: inline;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
